* {
  margin: 0.25px;
  margin-top: 0px;
  padding: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}


@font-face
{
font-family: custom;
src: url(fonts/caviar_dreams/CaviarDreams.ttf);
font-weight:bold;
}

@font-face
{
font-family: customBold;
src: url(fonts/caviar_dreams/CaviarDreamsBold.ttf);
font-weight:bold;
}


/*LIST*/
ul {
  list-style: none;
}
/*FORM*/
input {
  position: absolute;
  top: -9999px;
  left: -9999px;
}
label {
  display: block;
  float: left;
  height: 100%;
  width: 150px;
  margin-bottom: 10px;
  overflow: hidden;
 
  background-color: #002040;
  text-align: center;
  font: 14px/50px Helvetica, Verdana, sans-serif;  
 
  -webkit-transition: width 1s ease, background 0.5s ease;
     -moz-transition: width 1s ease, background 0.5s ease;
       -o-transition: width 1s ease, background 0.5s ease;
      -ms-transition: width 1s ease, background 0.5s ease;
          transition: width 1s ease, background 0.5s ease;
}
#rad2 + label {
  background: #002040;
  -webkit-transition: width 1s ease, background 0.5s ease;
     -moz-transition: width 1s ease, background 0.5s ease;
       -o-transition: width 1s ease, background 0.5s ease;
      -ms-transition: width 1s ease, background 0.5s ease;
          transition: width 1s ease, background 0.5s ease;
}
 
label:hover, #rad2 + label:hover {
  background: #003262;
  color: #fff;
  cursor: pointer;

  width:180px;
  -moz-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
}

#title {
/*  color: #002040;*/
  color: white;
  text-align: center;
  font-family: custom;
  text-transform: uppercase;
  font-size: 14px;
}

#box {
  padding-top: 570px;
  text-align: center;

}





/*SLIDES*/
.accslide {
  display: block;
  height: 330px;
  width: 0px;
  padding: 10px 0;
  float: left;
  overflow: hidden;
 
  color: #333;
  background: #fff;
  font: 12px/1.5 Helvetica, Verdana, sans-serif;
   
  -webkit-transition: all 1s ease;
     -moz-transition: all 1s ease;
       -o-transition: all 1s ease;
      -ms-transition: all 1s ease;
          transition: all 1s ease;
}
 
.accslide p, h2, img {
/*  width: 420px;*/
  padding-left: 10px;
}
 
.accslide img {
  margin-top: 10px;
}
input[type="radio"]:checked ~ .accslide {
  width: 550px;
}




/*body {
  background-color:#eee;
  margin:0 0;
  padding:50px;
}*/

.nav {
  height:40px;
  background-color:white;
  background-image:linear-gradient(top,white,#ddd);
  font:13px customBold;
  text-transform: uppercase;
  color:black;
}

.nav ul,
.nav li {
  margin:0 0;
  padding:0 0;
  list-style:none;
}

.nav ul {
  height:20px;
  padding:3px 0 0;
}

.nav li {
  float:left;
  display:inline;
  padding:0px 0px;
  /* the tiny border */
  border-left:1px solid #ccc;
  border-right:2px solid black;
}

.nav li:first-child {border-left:none}
.nav li:last-child {border-right:none}

.nav a {
  display:block;
  line-height:20px;
  height:20px;
  padding:0 8px 2px;
  color:#333;
  text-decoration:none;
  text-shadow:0 1px 0 white;
  border-radius:15px/25px;
}

/* the hover effect */
.nav a:hover {
  background-color:#FDB515;
/*  background-image:linear-gradient(top,rgba(0,0,0,0),rgba(0,0,0,.2));*/
  color:black;
  text-shadow:none;
  height: 17px;
  width: auto;
}

